In [1]:
import pandas as pd
import numpy as np

In [3]:
dat12=pd.read_csv('dataset/Dataset_12.csv')
dat12.head(3)

,Age,Gender,Dependent_Count,Education_Level,is_Married,Read_Book_per_Year,Income_Range
0,52,M,2,석사,1,45,D
1,46,F,4,박사,1,26,X
2,53,F,0,석사,0,48,A

In [4]:
dat12.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Age                 5000 non-null   int64
 1   Gender              5000 non-null   object
 2   Dependent_Count     5000 non-null   int64
 3   Education_Level     5000 non-null   object
 4   is_Married          5000 non-null   int64
 5   Read_Book_per_Year  5000 non-null   int64
 6   Income_Range        5000 non-null   object
dtypes: int64(4), object(3)
memory usage: 273.6+ KB

In [5]:
dat12.Education_Level.value_counts()

Education_Level
석사    2349
고졸    1534
학사     775
박사     342
Name: count, dtype: int64

In [6]:
dat12.Income_Range.value_counts()

Income_Range
A    1768
B     862
D     778
C     688
X     548
E     356
Name: count, dtype: int64

In [7]:
dat12.Income_Range.unique()

array(['D', 'X', 'A', 'B', 'C', 'E'], dtype=object)

In [ ]:
# Q1

In [8]:
dat12.dtypes

Age                    int64
Gender                object
Dependent_Count        int64
Education_Level       object
is_Married             int64
Read_Book_per_Year     int64
Income_Range          object
dtype: object

In [11]:
# q1_list=['Age', 'Dependent_Count', 'is_Married', 'Read_Book_per_Year']
q1_list= dat12.columns[dat12.dtypes != 'object']
q1_list

Index(['Age', 'Dependent_Count', 'is_Married', 'Read_Book_per_Year'], dtype='object')

In [13]:
dat12[q1_list].corr()['Read_Book_per_Year']  # 답: Age

Age                   0.796843
Dependent_Count      -0.132591
is_Married            0.027221
Read_Book_per_Year    1.000000
Name: Read_Book_per_Year, dtype: float64

In [14]:
# Q2

In [16]:
q2_h = dat12[dat12.Education_Level.isin(['석사', '박사'])]['Read_Book_per_Year']
q2_l = dat12[~dat12.Education_Level.isin(['석사', '박사'])]['Read_Book_per_Year']
len(q2_h), len(q2_l)

(2691, 2309)

In [17]:
from scipy.stats import ttest_ind

In [19]:
q2_t_out=ttest_ind(q2_h, q2_l)  # 답 0.269
q2_t_out.pvalue

0.26855892298971373

In [20]:
# Q3

In [21]:
from statsmodels.formula.api import ols

In [22]:
q3 = dat12[(dat12.Education_Level != '고졸') & (dat12.Income_Range != 'X')]

In [23]:
q3_ols=ols('Read_Book_per_Year~Age+Dependent_Count+is_Married', data=q3).fit()

In [24]:
q3_ols.params

Intercept         -0.382146
Age                0.796440
Dependent_Count   -0.250269
is_Married         0.049624
dtype: float64

In [27]:
round(q3_ols.params['Age'] * (40-30),0)  # 답 8

8.0