# [ProDS Asso] Set3

In [5]:
import pandas as pd
import numpy as np

dat=pd.read_csv("dataset/Dataset_18.csv")
dat.dtypes

Date          int64
Location     object
PM10        float64
PM25        float64
O3          float64
NO2         float64
CO          float64
SO2         float64
Warning       int64
dtype: object

In [6]:
dat.head(3)

,Date,Location,PM10,PM25,O3,NO2,CO,SO2,Warning
0,20210101,강남구,22.045455,16.272727,0.014727,0.027136,0.522727,0.003955,0
1,20210102,강남구,26.833333,11.833333,0.024875,0.015375,0.404167,0.003583,0
2,20210103,강남구,30.291667,13.750000,0.022000,0.018042,0.429167,0.003708,0

## Q1

In [2]:
q1=dat[dat.Date.astype('str').str.slice(4,6) == '03']

q1_out=q1.groupby('Location')['PM10'].mean()

q1_out.idxmax()

# 답: 종로구

'종로구'

## Q2

In [3]:
q2=pd.crosstab(index=dat.Warning, columns=dat.Location)

from scipy.stats import chi2_contingency


q2_out=chi2_contingency(q2, correction=False)

round(q2_out[0],2)

# 답: 3.11

3.11

## Q3

In [4]:
q3=pd.pivot_table(data=dat, 
                  index="Date", 
                  values=["PM10", "PM25", "O3", "NO2", "CO", "SO2"]).reset_index()


q3['target']=np.where(((q3.PM10 > 30) | (q3.PM25 > 40)), 1, 0)


q3['month']=q3.Date.astype('str').str.slice(4,6)
train=q3[q3.month!="07"]
test=q3[q3.month=="07"]

from sklearn.tree import DecisionTreeClassifier

var_list=["O3", "NO2", "CO", "SO2"]
dt=DecisionTreeClassifier(random_state=123)
dt.fit(train[var_list], train.target)
q3_pred=dt.predict(test[var_list])

q3_out=sum((test.target==1)&(q3_pred==1))
q3_out
# 답: 6

6