In [1]:
import pandas as pd
import numpy as np

In [3]:
dat3 = pd.read_csv('dataset/Dataset_03.csv')
dat3.head(3)

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long,gender
0,1,11.8,6.1,1,0,1,1,Male
1,0,14.0,5.4,0,0,1,0,Female
2,0,11.8,6.3,1,1,1,1,Male

In [ ]:
# Q1

In [4]:
q1=dat3.copy()

In [5]:
q1['forehead_ratio'] = q1['forehead_width_cm'] / q1['forehead_height_cm']

xbar=q1['forehead_ratio'].mean()
std2 = q1['forehead_ratio'].std()

lb = xbar - 3 * std2 
ub = xbar + 3 * std2

In [7]:
# 이상치 판정 및 결과 
((q1['forehead_ratio'] < lb) | (q1['forehead_ratio'] > ub)).sum()  # 답: 3

3

In [8]:
# Q2

In [9]:
gr_f = q1[q1['gender'] == 'Female']['forehead_ratio']
gr_m = q1[q1['gender'] == 'Male']['forehead_ratio']

In [10]:
from scipy.stats import ttest_ind

In [11]:
ttest_ind(gr_f, gr_m, equal_var=False)  # 답: 2.999, Y
# pvalue가 유의수준 0.01(신뢰수준 0.99, 99%)보다 작으므로 귀무가설을 기각한다.

TtestResult(statistic=-2.9994984197511543, pvalue=0.0027186702390657176, df=4619.829725747954)

In [ ]:
# Q3

In [12]:
from sklearn.model_selection import train_test_split

In [ ]:
# a, b, c, d=train_test_split(데이터셋, 데이터셋, ....,  random_state=123, train_size=0.7, test_size=0.3)

In [18]:
# 참고
aa = train_test_split(dat3, test_size=0.3,random_state=123)
aa

[      long_hair  forehead_width_cm  forehead_height_cm  nose_wide  nose_long  \
 3991          1               12.5                 6.9          1          1
 4163          1               12.4                 5.3          1          1
 3274          1               12.7                 5.7          0          0
 2430          1               11.4                 5.9          0          0
 449           1               13.7                 5.8          1          1
 ...         ...                ...                 ...        ...        ...
 1593          1               11.7                 5.6          0          0
 4060          1               13.7                 6.3          1          1
 1346          1               13.6                 5.8          0          0
 3454          0               12.7                 6.9          0          1
 3582          1               14.3                 5.3          0          1

       lips_thin  distance_nose_to_lip_long  gender
 3991          1                          0    Male
 4163          1                          1    Male
 3274          0                          0  Female
 2430          0                          0  Female
 449           1                          1    Male
 ...         ...                        ...     ...
 1593          0                          0  Female
 4060          1                          1    Male
 1346          0                          0  Female
 3454          1                          1    Male
 3582          1                          1    Male

 [3500 rows x 8 columns],
       long_hair  forehead_width_cm  forehead_height_cm  nose_wide  nose_long  \
 2648          0               11.7                 6.8          1          1
 2456          1               14.6                 7.0          1          1
 4558          1               14.5                 5.8          1          1
 4885          1               11.9                 5.8          1          1
 92            1               13.3                 5.9          1          1
 ...         ...                ...                 ...        ...        ...
 734           0               12.6                 6.1          1          1
 452           1               11.7                 6.4          0          0
 2558          1               13.6                 5.7          0          0
 1927          1               14.8                 6.9          1          1
 4037          1               15.1                 6.2          1          1

       lips_thin  distance_nose_to_lip_long  gender
 2648          0                          1    Male
 2456          1                          1    Male
 4558          0                          0    Male
 4885          1                          1    Male
 92            1                          1    Male
 ...         ...                        ...     ...
 734           1                          1    Male
 452           0                          0  Female
 2558          0                          1  Female
 1927          1                          1    Male
 4037          1                          1    Male

 [1501 rows x 8 columns]]

In [14]:
train, test = train_test_split(dat3, test_size=0.3,random_state=123)

In [19]:
q3_list=train.columns.drop('gender')
len(q3_list)

7

In [20]:
from sklearn.linear_model import LogisticRegression

In [22]:
logit=LogisticRegression().fit(train[q3_list], train['gender'])

In [23]:
pred=logit.predict(test[q3_list])
pred_pr=logit.predict_proba(test[q3_list])

In [24]:
pred

array(['Male', 'Male', 'Male', ..., 'Female', 'Male', 'Male'],
      dtype=object)

In [25]:
pred_pr

array([[2.11041432e-02, 9.78895857e-01],
       [8.99948104e-05, 9.99910005e-01],
       [2.54491572e-01, 7.45508428e-01],
       ...,
       [9.62866834e-01, 3.71331660e-02],
       [8.55942084e-05, 9.99914406e-01],
       [1.36473184e-04, 9.99863527e-01]])

In [26]:
from sklearn import metrics

In [27]:
metrics.precision_score(test['gender'], pred, pos_label='Male') # 답: 0.96

0.9608865710560626

In [29]:
print(metrics.classification_report(test['gender'], pred))

              precision    recall  f1-score   support

      Female       0.97      0.96      0.97       743
        Male       0.96      0.97      0.97       758

    accuracy                           0.97      1501
   macro avg       0.97      0.97      0.97      1501
weighted avg       0.97      0.97      0.97      1501