In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.__version__

'2.2.2'

In [3]:
dat4=pd.read_csv('dataset/Dataset_04.csv')
dat4.head(3)

  LOCATION SUBJECT  TIME      Value
0      AUS    BEEF  1991  27.721815
1      AUS    BEEF  1992  26.199591
2      AUS    BEEF  1993  26.169094

In [4]:
dat4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6718 entries, 0 to 6717
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   LOCATION  6718 non-null   object
 1   SUBJECT   6718 non-null   object
 2   TIME      6718 non-null   int64
 3   Value     6718 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 210.1+ KB

In [6]:
# Q1
dat4.LOCATION == 'KOR'

0       False
1       False
2       False
3       False
4       False
        ...
6713    False
6714    False
6715    False
6716    False
6717    False
Name: LOCATION, Length: 6718, dtype: bool

In [8]:
dat4.LOCATION.value_counts()

LOCATION
IND      148
PRY      148
IRN      148
ISR      148
CAN      148
MYS      148
MOZ      148
NGA      148
PAK      148
PER      148
URY      148
PHL      148
ZMB      148
SAU      148
ZAF      148
SDN      148
TZA      148
THA      148
IDN      148
VNM      148
HTI      148
MEX      148
SSA      148
EGY      148
COL      148
JPN      148
CHL      148
BRA      148
BGD      148
GHA      148
DZA      148
USA      148
TUR      148
NZL      148
ARG      147
CHN      147
KOR      146
AUS      146
KAZ      140
UKR      140
RUS      139
BRICS    139
EU28     138
OECD     137
ETH      136
WLD      131
Name: count, dtype: int64

In [9]:
(dat4.LOCATION == 'KOR') | (dat4.LOCATION == 'JPN')

0       False
1       False
2       False
3       False
4       False
        ...
6713    False
6714    False
6715    False
6716    False
6717    False
Name: LOCATION, Length: 6718, dtype: bool

In [11]:
dat4.LOCATION.isin(['KOR','JPN'])

0       False
1       False
2       False
3       False
4       False
        ...
6713    False
6714    False
6715    False
6716    False
6717    False
Name: LOCATION, Length: 6718, dtype: bool

In [13]:
q1=dat4[dat4.LOCATION == 'KOR']
q1

    LOCATION SUBJECT  TIME     Value
442      KOR    BEEF  1991  5.085481
443      KOR    BEEF  1992  5.685434
444      KOR    BEEF  1993  5.325765
445      KOR    BEEF  1994  5.698819
446      KOR    BEEF  1995  6.568429
..       ...     ...   ...       ...
583      KOR   SHEEP  2022  0.197951
584      KOR   SHEEP  2023  0.199098
585      KOR   SHEEP  2024  0.200266
586      KOR   SHEEP  2025  0.201451
587      KOR   SHEEP  2026  0.202656

[146 rows x 4 columns]

In [14]:
q1_gr=q1.groupby('TIME')

In [15]:
q1_gr

In [16]:
q1_gr.groups

{1990: [514, 551], 1991: [442, 478, 515, 552], 1992: [443, 479, 516, 553], 1993: [444, 480, 517, 554], 1994: [445, 481, 518, 555], 1995: [446, 482, 519, 556], 1996: [447, 483, 520, 557], 1997: [448, 484, 521, 558], 1998: [449, 485, 522, 559], 1999: [450, 486, 523, 560], 2000: [451, 487, 524, 561], 2001: [452, 488, 525, 562], 2002: [453, 489, 526, 563], 2003: [454, 490, 527, 564], 2004: [455, 491, 528, 565], 2005: [456, 492, 529, 566], 2006: [457, 493, 530, 567], 2007: [458, 494, 531, 568], 2008: [459, 495, 532, 569], 2009: [460, 496, 533, 570], 2010: [461, 497, 534, 571], 2011: [462, 498, 535, 572], 2012: [463, 499, 536, 573], 2013: [464, 500, 537, 574], 2014: [465, 501, 538, 575], 2015: [466, 502, 539, 576], 2016: [467, 503, 540, 577], 2017: [468, 504, 541, 578], 2018: [469, 505, 542, 579], 2019: [470, 506, 543, 580], 2020: [471, 507, 544, 581], 2021: [472, 508, 545, 582], 2022: [473, 509, 546, 583], 2023: [474, 510, 547, 584], 2024: [475, 511, 548, 585], 2025: [476, 512, 549, 586], 2026: [477, 513, 550, 587]}

In [18]:
q1_gr.get_group(1990)

    LOCATION  SUBJECT  TIME     Value
514      KOR  POULTRY  1990  5.570102
551      KOR    SHEEP  1990  0.204153

In [21]:
q1_2=q1.groupby('TIME')['Value'].sum().reset_index(drop=False)
q1_2

    TIME      Value
0   1990   5.774255
1   1991  21.911207
2   1992  26.901769
3   1993  26.938255
4   1994  27.877341
5   1995  30.042035
6   1996  31.928922
7   1997  32.002991
8   1998  30.009057
9   1999  35.383138
10  2000  34.957160
11  2001  35.336550
12  2002  37.162442
13  2003  39.471677
14  2004  35.171424
15  2005  36.617273
16  2006  41.910995
17  2007  43.690430
18  2008  43.941183
19  2009  43.336372
20  2010  46.412261
21  2011  46.799325
22  2012  46.128025
23  2013  49.496899
24  2014  53.274723
25  2015  55.254123
26  2016  55.665778
27  2017  55.885227
28  2018  56.146592
29  2019  56.394942
30  2020  56.643664
31  2021  56.900853
32  2022  57.194312
33  2023  57.491758
34  2024  57.781372
35  2025  58.083483
36  2026  58.392009

In [24]:
# Q1 답
q1_2.corr().round(2)['TIME']['Value']

0.96

In [25]:
# Q2
q2=q1.groupby('TIME')['Value'].mean()
q2

TIME
1990     2.887128
1991     5.477802
1992     6.725442
1993     6.734564
1994     6.969335
1995     7.510509
1996     7.982231
1997     8.000748
1998     7.502264
1999     8.845784
2000     8.739290
2001     8.834137
2002     9.290611
2003     9.867919
2004     8.792856
2005     9.154318
2006    10.477749
2007    10.922607
2008    10.985296
2009    10.834093
2010    11.603065
2011    11.699831
2012    11.532006
2013    12.374225
2014    13.318681
2015    13.813531
2016    13.916445
2017    13.971307
2018    14.036648
2019    14.098736
2020    14.160916
2021    14.225213
2022    14.298578
2023    14.372939
2024    14.445343
2025    14.520871
2026    14.598002
Name: Value, dtype: float64

In [26]:
import scipy.stats as st

In [29]:
q2_t_out=st.ttest_1samp(q2, 14)
q2_t_out.pvalue < 0.05

True

In [44]:
q2_3= q1[q1.TIME == 2024]

In [45]:
q2_3_t_out=st.ttest_1samp(q2_3['Value'], 14)
q2_3_t_out.pvalue < 0.05

False

q1.SUBJECT.unique()

In [34]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [33]:
temp=q1[q1.SUBJECT == 'BEEF']
lm=LinearRegression().fit(temp[['TIME']], temp['Value'])
pred=lm.predict(temp[['TIME']])
r2=r2_score(temp['Value'], pred)
mape= (abs(temp['Value']-pred)/temp['Value']).mean()

In [35]:
sub_list=q1.SUBJECT.unique()
sub_list

array(['BEEF', 'PIG', 'POULTRY', 'SHEEP'], dtype=object)

In [36]:
q3_col=[]

for i in sub_list :
    temp=q1[q1.SUBJECT == i]
    lm=LinearRegression().fit(temp[['TIME']], temp['Value'])
    pred=lm.predict(temp[['TIME']])
    r2=r2_score(temp['Value'], pred)
    mape= (abs(temp['Value']-pred)/temp['Value']).mean()
    q3_col.append([i, r2, mape])

In [37]:
q3_col

[['BEEF', 0.835455805530312, 0.07310893225858996],
 ['PIG', 0.9406814424683864, 0.056349798816492616],
 ['POULTRY', 0.9514978845444608, 0.057833579028745516],
 ['SHEEP', 0.004082992795654383, 0.333479658130492]]

In [38]:
q3_ans=pd.DataFrame(q3_col, columns=['sub','r2','mape'])
q3_ans

       sub        r2      mape
0     BEEF  0.835456  0.073109
1      PIG  0.940681  0.056350
2  POULTRY  0.951498  0.057834
3    SHEEP  0.004083  0.333480

In [39]:
q3_ans.r2.idxmax() # 위치번호

2

In [40]:
q3_ans.r2.argmax() # 인덱스명

2

In [42]:
# Q3 답
round(q3_ans.loc[q3_ans.r2.argmax(), 'mape'],2)

0.06