In [1]:
import pandas as pd
import numpy as np

In [2]:
dat6=pd.read_csv('dataset/Dataset_06.csv')
dat6.head(3)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,sqft_living15,sqft_lot15
0,2597000006,20150309T000000,347500.0,3,1.50,1180,8353,1.0,0,0,3,7,1180,0,1960,0,98155,1710,8748
1,8813400345,20150414T000000,575000.0,2,1.00,980,3663,1.0,0,0,5,7,980,0,1909,0,98105,1620,3706
2,226059106,20150102T000000,489500.0,3,1.75,2090,65558,1.0,0,0,3,8,1330,760,1977,0,98072,2450,47178

In [3]:
dat6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4323 entries, 0 to 4322
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             4323 non-null   int64
 1   date           4323 non-null   object
 2   price          4323 non-null   float64
 3   bedrooms       4323 non-null   int64
 4   bathrooms      4323 non-null   float64
 5   sqft_living    4323 non-null   int64
 6   sqft_lot       4323 non-null   int64
 7   floors         4323 non-null   float64
 8   waterfront     4323 non-null   int64
 9   view           4323 non-null   int64
 10  condition      4323 non-null   int64
 11  grade          4323 non-null   int64
 12  sqft_above     4323 non-null   int64
 13  sqft_basement  4323 non-null   int64
 14  yr_built       4323 non-null   int64
 15  yr_renovated   4323 non-null   int64
 16  zipcode        4323 non-null   int64
 17  sqft_living15  4323 non-null   int64
 18  sqft_lot15     4323 non-null   int64
dtypes: float64(3), int64(15), object(1)
memory usage: 641.8+ KB

In [4]:
# Q1
dat6.waterfront.value_counts()

waterfront
0    4290
1      33
Name: count, dtype: int64

In [6]:
# Q1 답
abs(dat6[dat6.waterfront == 0]['price'].mean()-dat6[dat6.waterfront == 1]['price'].mean())

1167272.748018648

In [7]:
# Q2
q2_list=['price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'yr_built']

In [11]:
q2=dat6[q2_list].corr()['price'].drop('price')
q2

bedrooms       0.279824
bathrooms      0.534277
sqft_living    0.709157
sqft_lot       0.106341
floors         0.270423
yr_built       0.059895
Name: price, dtype: float64

In [12]:
# Q2 답
q2.idxmax(), q2.idxmin()

('sqft_living', 'yr_built')

In [13]:
# Q3
q3_list=dat6.columns.drop(['id', 'date', 'zipcode', 'price'])
q3_list

Index(['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
       'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'sqft_living15',
       'sqft_lot15'],
      dtype='object')

In [14]:
len(q3_list) # 데이터 수 확인

15

In [15]:
from statsmodels.formula.api import ols

In [16]:
# ols(식, 데이터셋)
# ols('y~x1+C(x2)+x3', 데이터셋)

Signature:  ols(formula, data, subset=None, drop_cols=None, *args, **kwargs)
Docstring:
Create a Model from a formula and dataframe.

Parameters
----------
formula : str or generic Formula object
    The formula specifying the model.
data : array_like
    The data for the model. See Notes.
subset : array_like
    An array-like object of booleans, integers, or index values that
    indicate the subset of df to use in the model. Assumes df is a
    `pandas.DataFrame`.
drop_cols : array_like
    Columns to drop from the design matrix.  Cannot be used to
    drop terms involving categoricals.
*args
    Additional positional argument that are passed to the model.
**kwargs
    These are passed to the model with one exception. The
    ``eval_env`` keyword is passed to patsy. It can be either a
    :class:`patsy:patsy.EvalEnvironment` object or an integer
    indicating the depth of the namespace to use. For example, the
    default ``eval_env=0`` uses the calling namespace. If you wish
    to use a "clean" environment set ``eval_env=-1``.

Returns
-------
model
    The model instance.

Notes
-----
data must define __getitem__ with the keys in the formula terms
args and kwargs are passed on to the model instantiation. E.g.,
a numpy structured or rec array, a dictionary, or a pandas DataFrame.
File:      c:\users\user\anaconda3\lib\site-packages\statsmodels\base\model.py
Type:      method

In [17]:
a=['x', 'yt', 'qw']
'+'.join(a)

'x+yt+qw'

In [18]:
'sd'+'qq'  # 문자열 + 문자열

'sdqq'

In [20]:
q3_form='price~' + '+'.join(q3_list)
q3_form

'price~bedrooms+bathrooms+sqft_living+sqft_lot+floors+waterfront+view+condition+grade+sqft_above+sqft_basement+yr_built+yr_renovated+sqft_living15+sqft_lot15'

In [21]:
q3_lm_out=ols(q3_form, dat6).fit()

In [22]:
q3_lm_out

In [23]:
q3_lm_out.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.681
Model:                            OLS   Adj. R-squared:                  0.680
Method:                 Least Squares   F-statistic:                     656.0
Date:                Thu, 27 Mar 2025   Prob (F-statistic):               0.00
Time:                        14:52:41   Log-Likelihood:                -58960.
No. Observations:                4323   AIC:                         1.180e+05
Df Residuals:                    4308   BIC:                         1.180e+05
Df Model:                          14
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
Intercept      6.302e+06   2.95e+05     21.401      0.000    5.73e+06    6.88e+06
bedrooms        -2.5e+04   3680.510     -6.791      0.000   -3.22e+04   -1.78e+04
bathrooms      5.179e+04   7163.408      7.230      0.000    3.77e+04    6.58e+04
sqft_living      92.3081      5.074     18.192      0.000      82.360     102.256
sqft_lot          0.0054      0.093      0.059      0.953      -0.176       0.187
floors         3.748e+04   8141.392      4.604      0.000    2.15e+04    5.34e+04
waterfront     6.277e+05   3.91e+04     16.064      0.000    5.51e+05    7.04e+05
view            4.04e+04   4797.344      8.421      0.000     3.1e+04    4.98e+04
condition      1.571e+04   5317.387      2.954      0.003    5280.918    2.61e+04
grade          1.306e+05   4700.604     27.789      0.000    1.21e+05     1.4e+05
sqft_above       33.7358      4.981      6.773      0.000      23.971      43.501
sqft_basement    58.5722      5.840     10.030      0.000      47.123      70.021
yr_built      -3666.8957    150.805    -24.316      0.000   -3962.551   -3371.241
yr_renovated     17.7032      8.265      2.142      0.032       1.499      33.908
sqft_living15    23.0114      7.561      3.044      0.002       8.188      37.834
sqft_lot15       -0.2323      0.142     -1.637      0.102      -0.511       0.046
==============================================================================
Omnibus:                     2170.721   Durbin-Watson:                   2.011
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            38362.875
Skew:                           1.971   Prob(JB):                         0.00
Kurtosis:                      17.051   Cond. No.                     1.67e+17
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 5.83e-22. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [29]:
q3_lm_out.pvalues

Intercept         1.204633e-96
bedrooms          1.262643e-11
bathrooms         5.681393e-13
sqft_living       2.616896e-71
sqft_lot          9.532159e-01
floors            4.266372e-06
waterfront        1.931929e-56
view              5.028272e-17
condition         3.157318e-03
grade            1.760208e-156
sqft_above        1.431357e-11
sqft_basement     2.030036e-23
yr_built         1.717539e-122
yr_renovated      3.226128e-02
sqft_living15     2.352216e-03
sqft_lot15        1.017748e-01
dtype: float64

In [27]:
q3_lm_out.pvalues.index

Index(['Intercept', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
       'floors', 'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'sqft_living15',
       'sqft_lot15'],
      dtype='object')

In [30]:
q3_lm_out.pvalues.index[q3_lm_out.pvalues < 0.05]

Index(['Intercept', 'bedrooms', 'bathrooms', 'sqft_living', 'floors',
       'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'sqft_living15'],
      dtype='object')

In [31]:
q3_out1=q3_lm_out.pvalues.index[q3_lm_out.pvalues < 0.05].drop('Intercept')
q3_out1

Index(['bedrooms', 'bathrooms', 'sqft_living', 'floors', 'waterfront', 'view',
       'condition', 'grade', 'sqft_above', 'sqft_basement', 'yr_built',
       'yr_renovated', 'sqft_living15'],
      dtype='object')

In [32]:
len(q3_out1)

13

In [33]:
# 상수와 회귀계수
q3_lm_out.params

Intercept        6.302495e+06
bedrooms        -2.499553e+04
bathrooms        5.179234e+04
sqft_living      9.230805e+01
sqft_lot         5.444844e-03
floors           3.748199e+04
waterfront       6.276528e+05
view             4.039778e+04
condition        1.570573e+04
grade            1.306274e+05
sqft_above       3.373578e+01
sqft_basement    5.857224e+01
yr_built        -3.666896e+03
yr_renovated     1.770319e+01
sqft_living15    2.301144e+01
sqft_lot15      -2.322904e-01
dtype: float64

In [35]:
q3_lm_out.params[q3_out1]

bedrooms         -24995.525070
bathrooms         51792.344459
sqft_living          92.308053
floors            37481.990454
waterfront       627652.843940
view              40397.783242
condition         15705.734137
grade            130627.395937
sqft_above           33.735785
sqft_basement        58.572242
yr_built          -3666.895673
yr_renovated         17.703192
sqft_living15        23.011443
dtype: float64

In [37]:
(q3_lm_out.params[q3_out1] < 0).sum()

2