In [1]:
import pandas as pd
import numpy as np

In [2]:
dat8 = pd.read_csv('dataset/Dataset_08.csv')
dat8.head(3)

   RandD_Spend  Administration  Marketing_Spend       State     Profit
0    165349.20       136897.80        471784.10    New York  192261.83
1    162597.70       151377.59        443898.53  California  191792.06
2    153441.51       101145.55        407934.54     Florida  191050.39

In [4]:
dat8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RandD_Spend      50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing_Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [ ]:
# Q1

In [7]:
dat8.State.value_counts(normalize=True).sort_index()

State
California    0.34
Florida       0.32
New York      0.34
Name: proportion, dtype: float64

In [8]:
# pd.crosstab(index=dat8.State)

TypeError: crosstab() missing 1 required positional argument: 'columns'

In [ ]:
# Q2

In [10]:
q2=dat8.groupby('State')['Profit'].mean()
q2

State
California    103905.175294
Florida       118774.024375
New York      113756.446471
Name: Profit, dtype: float64

In [11]:
q2.idxmax() # 이름

'Florida'

In [13]:
q2.argmax() # 위치번호로 리턴

1

In [14]:
q2.idxmin()

'California'

In [15]:
np.trunc(q2.max() - q2.min())

14868.0

In [16]:
state_list=dat8.State.unique()
state_list

array(['New York', 'California', 'Florida'], dtype=object)

In [17]:
from sklearn.linear_model import LinearRegression

In [18]:
q3_col=[]
q3_list=dat8.columns[:3]
for i in state_list:
    temp = dat8[dat8.State == i]
    lm = LinearRegression().fit(temp[q3_list], temp['Profit'])
    pred=lm.predict(temp[q3_list])
    mape= (abs(temp['Profit'] - pred)/temp['Profit']).mean()*100
    q3_col.append([i, mape])

In [19]:
q3_col

[['New York', 8.524247700724837],
 ['California', 15.227582003020185],
 ['Florida', 5.706713100164492]]